<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Muli:300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/css/test.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery.fancybox.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link th:href="@{/resources/static/css/floor.css}">
    <!-- #007bff -->
    <style>


*{
  margin:8px;
  padding:0;

}

.floor-space{
  background-color:rgba(0,123,255);
  padding:0.5rem;
  margin:0.5rem;
 overflow: auto;

}

ol{
  list-style:none;
}

.room-space{
  display:flex;
  flex-wrap:nowrap;
  background-color:rgba(50, 115, 220, 0.3);
  padding:0.5rem;
  overflow: auto;
}

.room1{
  width:26.4rem;
  height:15.8rem;
  background-color:lightblue;
  margin:0.3rem;
  overflow: auto;
}

.container {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    }

    body {
    margin: 0;
    font-family: helvetica, arial, sans-serif;

    background-color:whitesmoke;
    }

    .room {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px repeat(4, minmax(100px, 1fr )):
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    border: 3.5px solid lightgrey;
    padding: 10px;
    }

    .roomNo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor:pointer;
    height: 60%;
    background-color: black;

    text-decoration: none;
    color: white;
    border-radius: 5px;
    }

    .full{
    background-color: darkred;
    }
    .empty{
    background-color: darkblue;
    }

    .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor:pointer;
    height: 60%;
    background-color: black;

    text-decoration: none;
    color: white;
    border-radius: 5px;
    }

    .roomNo, .saveRoom {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    #subbutton{

      margin-bottom:3px;}

    .saveRoom{
    grid-area: 6 / 1 / span 1 / span 4;
    background-color: black;
    }

    .bed {
    justify-self: center;
    }


    #uppersection{
    text-align:center;}
    #pagetitle{
    color:black;}

    #floortitle{
    color:black;
    }



    </style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="uppersection">
    <form th:action="@{/addFloor}" method="post">
        <input type="Submit" id="subbutton" class="btn" value="Add Floor">
    </form>
    <h3 id="pagetitle">Room Manager</h3>
</div>

<section>

    <br>
    <!--LISTS THE FLOORS -->
    <div th:if="${not #lists.isEmpty(allFloors)}">
        <!--Displaying floors -->
        <div class="floor-space" th:each="floor : ${allFloors}">
            <h3 id="floortitle" th:text="'Floor ' + ${floor.level}"></h3>
            <form th:action="@{/deleteFloor}" method="post">
                <input type="hidden" th:value="${floor.id}" name="deleteFloorId">
                <input type="Submit" class="btn" value="Delete Floor">
            </form>
            <br>
            <div class="btn addRoom" th:data-room="${floor.id}">Add Room</div>
            <!--<input type="hidden" th:value="${floor.id}" id="floorId">-->

            <!--<form th:action="@{/addRoom}" method="post">
                <input type="hidden" th:value="${floor.id}" name="floorId">
                <input type="Submit" value="Add Room">
            </form>-->
            <!-- Displaying rooms -->
            <!--<div th:if="${not #lists.isEmpty(floor.rooms)}">-->
            <div class="room-space" th:data-room="${floor.id}">
                <!--<ol th:each="room : ${floor.rooms}">
                    <li class="room">-->
                <!--<div class="container">-->
                <ol th:each="room : ${floor.rooms}">
                    <li class="room" th:data-room="${room.id}">
                        <div class="roomNo" th:classappend="${(room.beds.size() == 16 ? 'full': 'empty')}">
                            <span th:text="${room.name}"></span>
                            <!--<span class="bedcount" th:text="${room.Beds.size()}"></span>-->
                        </div>
                        <div class="btn roomDel" th:data-room="${room.id}">Delete Room</div>
                        <!--<form th:action="@{/deleteRoom}" method="post">
                            <input type="hidden" th:value="${room.id}" name="deleteRoomId">
                            <input id="deleteRoom" type="Submit" class="btn roomDel" th:data-room="${room.name}" value="Delete Room">
                        </form>-->

                        <div class="btn addBed" th:data-room="${room.id}">Add Bed</div>
                        <!--<input type="hidden" th:value="${room.id}" id="roomId">-->
                        <!--<form th:action="@{/addBed}" method="post">
                             <input type="hidden" th:value="${room.id}" name="roomId">
                             <input id="addBed" type="Submit" class="btn delBed" th:data-room="${room.name}" value="Add Bed">
                         </form>-->

                        <div class="btn delBed" th:data-room="${room.id}">Delete Bed</div>
                        <!--<form th:action="@{/delBed}" method="post">
                            <input type="hidden" th:value="${room.id}" name="roomId">
                            <input id="delBed" type="Submit" class="btn delBed" th:data-room="${room.name}" value="Delete Bed">
                        </form>-->

                        <!--<div class="btn saveRoom" th:data-room="${room.name}">Save Room</div>-->
                        <div th:each="bed : ${room.beds}">
                            <!-- <form name="bedForm"th:action="@{/occupiedBed}" method="post">
                                 <input type="hidden" th:value="${bed.id}" name="bedId">-->
                            <!--<input type="hidden" th:value="${bed.id}" id="bedId">-->
                            <img class="bed" th:data-room="${bed.id}" width="100" height="100"
                                 th:src="${bed.occupied}?@{/images/red-hotel-bed-md.png}:@{/images/green-hotel-bed-md.png}">
                        </div>
                    </li>

                </ol>
                <!--</div>-->

                <!-- <div class="addBedButtonPlaceholder">
                     <form th:action="@{/addBed}" method="post">
                         <input type="hidden" th:value="${room.id}" name="addBedId">
                         <input id="addBedSubmit" type="Submit" value="Add Bed">
                     </form>
                 </div>
                 <div class="deleteBedButtonPlaceholder">
                     <form th:action="@{/deleteBed}" method="post">
                         <input type="hidden" th:value="${room.id}" name="deleteBedId">
                         <input id="deleteBedSubmit" type="Submit" value="Delete Bed">
                     </form>
                 </div>
                 <div class="bedPlaceHolder"><p>Bed0</p></div>
                 <div class="bedPlaceHolder1"><p>Bed1</p></div>
                 <div class="bedPlaceHolder2"><p>Bed2</p></div>
                 <div class="bedPlaceHolder3"><p>Bed3</p></div>
                 <div class="bedPlaceHolder4"><p>Bed4</p></div>
                 <div class="bedPlaceHolder5"><p>Bed5</p></div>
                 <div class="bedPlaceHolder6"><p>Bed6</p></div>
                 <div class="bedPlaceHolder7"><p>Bed7</p></div>
                 <div class="bedPlaceHolder8"><p>Bed8</p></div>
                 <div class="bedPlaceHolder9"><p>Bed9</p></div>
                 <div class="bedPlaceHolder10"><p>Bed10</p></div>
                 <div class="bedPlaceHolder11"><p>Bed11</p></div>
                 <div class="bedPlaceHolder12"><p>Bed12</p></div>
                 <div class="bedPlaceHolder13"><p>Bed13</p></div>
                 <div class="bedPlaceHolder14"><p>Bed14</p></div>
                 <div class="bedPlaceHolder15"><p>Bed15</p></div>
                 <div class="saveButtonPlaceholder">
                     <form th:action="@{/saveBedFormation}" method="post">
                         <input type="hidden" th:value="${room.id}" name="saveBedFormation">
                         <input id="saveBedsSubmit" type="Submit" value="Save Beds">
                     </form>
                 </div>
             </div>
         </li>

     </ol>-->
            </div>
            <!--</div>-->
        </div>
    </div>

</section>

<script>

const addRoomBtns = document.querySelectorAll(".addRoom");
for (let i = 0; i < addRoomBtns.length; i++) {
  addRoomBtns[i].addEventListener("click", addRoomInFloor);
}

const removeRoomBtns = document.querySelectorAll(".roomDel");
for (let i = 0; i < removeRoomBtns.length; i++) {
  removeRoomBtns[i].addEventListener("click", removeRoomFromFloor);
}

const rooms = document.querySelectorAll(".room");
const addBedBtns = document.querySelectorAll(".addBed");
for (let i = 0; i < addBedBtns.length; i++) {
  addBedBtns[i].addEventListener("click", addBedInRoom);
}

const removeBedBtns = document.querySelectorAll(".delBed");
for (let i = 0; i < removeBedBtns.length; i++) {
  removeBedBtns[i].addEventListener("click", removeBedFromRoom);
}

const images = document.querySelectorAll(".bed");
for (let i = 0; i < images.length; i++) {
    images[i].addEventListener("click", occupiedBedInRoom);
}

function addRoomInFloor(e){
    console.log("floor = "+ e.target.dataset.room);
    var addRoom = {}
    addRoom["criteriaId"] = e.target.dataset.room;

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/addRoom",
        data: JSON.stringify(addRoom),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
            let ol = document.createElement("ol");

            let li = document.createElement("li");
            li.classList.add("room");
            li.setAttribute("data-room", data['id']);

            let div1 = document.createElement("div");
            div1.classList.add("roomNo");
            div1.classList.add("empty");

            let span1 = document.createElement("span");
            let text1 = document.createTextNode(data['response']);
            span1.appendChild(text1);

            /*let span2 = document.createElement("span");
            let text2 = document.createTextNode("0");
            span2.appendChild(text2);*/

            div1.appendChild(span1);
            //div1.appendChild(span2);

            li.appendChild(div1);

            let div2 = document.createElement("div");
            div2.classList.add("btn", "roomDel");
            div2.setAttribute("data-room", data['id']);
            let text3 = document.createTextNode("Delete Room");
            div2.appendChild(text3);
            div2.addEventListener("click", removeRoomFromFloor);
            li.appendChild(div2);

            let div3 = document.createElement("div");
            div3.classList.add("btn", "addBed");
            div3.setAttribute("data-room", data['id']);
            let text4 = document.createTextNode("Add Bed");
            div3.appendChild(text4);
            div3.addEventListener("click", addBedInRoom);
            li.appendChild(div3);

            let div4 = document.createElement("div");
            div4.classList.add("btn", "delBed");
            div4.setAttribute("data-room", data['id']);
            let text5 = document.createTextNode("Delete Bed");
            div4.appendChild(text5);
            div4.addEventListener("click", removeBedFromRoom);
            li.appendChild(div4);

            let floor = document.querySelector(
               `.room-space[data-room='${e.target.dataset.room}']`
               );

            ol.appendChild(li);
            floor.appendChild(ol);
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
    });
}
function removeRoomFromFloor(e){
    let room = document.querySelector(
      `.room[data-room='${e.target.dataset.room}']`
    );

      var delRoom = {}
      delRoom["criteriaId"] = e.target.dataset.room;

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/deleteRoom",
        data: JSON.stringify(delRoom),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
            room = room.parentNode;
            if(room.parentNode.childNodes.length == 1)
                room = room.parentNode;
            room.parentNode.removeChild(room);
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
      });
}

function addBedInRoom(e){
    let room = document.querySelector(
      `.room[data-room='${e.target.dataset.room}']`
    );
    var roomId= e.target.dataset.room;
    let roombeds = room.querySelectorAll(".bed").length;

    if (roombeds < 16) {
      var addBed = {}
      addBed["criteriaId"] = roomId;

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/addBed",
        data: JSON.stringify(addBed),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
            console.log("Bed id= " + data['id']);
            let div1 = document.createElement("div");
            let bed = document.createElement("img");
            bed.src = "/images/green-hotel-bed-md.png";
            bed.width = "100";
            bed.height = "100";
            bed.classList.add("bed");
            bed.setAttribute("data-room", data['id']);

            bed.addEventListener("click", occupiedBedInRoom);
            div1.append(bed);
            room.appendChild(div1);
            //room.querySelector(".bedcount").innerText = `Beds: ${++roombeds}`;
            roombeds++;
            console.log("roombeds=" + roombeds);
            if (roombeds == 16) {
                room.querySelector(".roomNo").classList.remove("empty");
                room.querySelector(".roomNo").classList.add("full");
            }
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
    });
    } else {
      alert("All beds in this room are filled!");
    }
}

function removeBedFromRoom(e){
   let room = document.querySelector(
      `.room[data-room='${e.target.dataset.room}']`
    );

    let roombeds = room.querySelectorAll(".bed").length;
    console.log(e.target.dataset.room);
    if (roombeds > 0) {
       var delBed = {}
      delBed["criteriaId"] = e.target.dataset.room;

      $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/delBed",
        data: JSON.stringify(delBed),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
            room.removeChild(room.lastChild);
            //room.querySelector(".bedcount").innerText = `Beds: ${--roombeds}`;
            roombeds--;
            room.querySelector(".roomNo").classList.add("empty");
        },
        error: function (e) {
             console.log("ERROR : ", e);
        }
    });

    } else {
      alert("No bed in the room!");
    }
}

function occupiedBedInRoom(e){
    let image = document.querySelector(
      `.bed[data-room='${e.target.dataset.room}']`
    );

   console.log("Occupied Bed, bed id= "+ e.target.dataset.room);

   var occupiedBed = {}
   occupiedBed["criteriaId"] = e.target.dataset.room;;

   $.ajax({
        type: "POST",
        contentType: "application/json",
        url: "/occupiedBed",
        data: JSON.stringify(occupiedBed),
        dataType: 'json',
        cache: false,
        timeout: 600000,
        success: function (data) {
            console.log("SUCCESS : ", data);
            console.log("Image Src =" + image.src);
            if(image.src == "http://localhost:8080/images/green-hotel-bed-md.png"){
                image.src = "/images/red-hotel-bed-md.png";
            }else{
                image.src = "/images/green-hotel-bed-md.png";
            }
        },
        error: function (e) {
            console.log("ERROR : ", e);
        }
      });
}


</script>


<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/floor.js}"></script>


</body>
</html>